@font-face {
  font-weight: 400;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("../fonts/ubuntu-regular.woff2") format("woff2"),
    url("../fonts/ubuntu-regular.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Ubuntu";
  font-style: normal;
  src: url("../fonts/ubuntu-bold.woff2") format("woff2"),
    url("../fonts/ubuntu-bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Molot";
  font-style: normal;
  src: url("../fonts/molot.woff2") format("woff2"),
    url("../fonts/molot.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Impact";
  font-style: normal;
  src: url("../fonts/impact.woff2") format("woff2"),
    url("../fonts/impact.woff") format("woff");
}
