.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  background-image: linear-gradient(to top, rgb(255,81,13) 0%, rgb(255,134,1) 100%);
  
  &:hover,
  &:active {
    background-image: linear-gradient(to bottom, rgb(255,81,13) 0%, rgb(255,134,1) 100%);
  }
}
