.features {
  padding-top: 25px;
  
  h2 {
    padding-right: 100px;
  }
}

.features__list {
  padding-top: 15px;
}

.features__item {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #e9f0bd;
  overflow: hidden;
  
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 125px;
    width: 200px;
    height: 100%;
    background-color: #8aac00;
    z-index: 0;
    transform: skewX(-12deg);
  }
}

.features__text {
  position: relative;
  z-index: 1;
  width: 50%;
  padding-right: 5px;
  
  h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
  }
  
  p {
    color: #fff;
    font-size: 14px;
    line-height: 1;
  }
}

//------------------
@media (min-width: 640px) {
  .features h2 {
    padding-right: 0;
  }
  
  .features__item {
    margin-bottom: 15px;
    
    &::after {
      width: 100%;
      left: 140px;
    }
  }
  
  .features__text {
    width: 63%;
  }
  
  .features__list {
    padding-top: 25px;
  }
}

//------------------
@media (min-width: 990px) {
  .features__list {
    padding-top: 22px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
  }
  
  .features__item {
    width: 333px;
    margin-bottom: 20px;
    
    &::after {
      left: 130px;
    }
  }
  
  .features__text {
    width: 52%;
    
    h3 {
      margin-bottom: 10px;
    }
  }
}
