.menu__btn {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 46px;
  height: 46px;
  background-image: url(../img/icon-menu-ham.svg);
  background-repeat: no-repeat;
  background-size: 38px 26px;
  background-position: center;
}

.menu__list {
  position: absolute;
  z-index: 100;
  top: 90px;
  left: 10px;
  width: 300px;
  padding: 10px;
  background-color: #2d2d2d;
  box-shadow: inset 0px 0px 5.46px 0.54px rgba(0, 0, 0, 0.004);
}

.menu__item {
  margin-bottom: 15px;
  
  &:last-child {
    margin-bottom: 0;
  }
}

.menu__link {
  color: #fff;
  transition: ease-out 0.3s;
  
  &--active,
  &:hover,
  &:active {
    color: @green;
    transition: ease-out 0.3s;
  }
}

.menu__sublist {
  padding-left: 20px;
}

.menu--opened {
  .menu__btn {
    background-image: url(../img/icon-menu-cross.svg);
    background-size: 26px 26px;
  }
}

//------------------
@media (min-width: 640px) {
  .menu__list {
    right: 15px;
    left: auto;
  }
  
  .menu__btn {
    right: 15px;
  }
}
