.news {
  width: 214px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  
  h2 {
    font-size: 30px;
  }
  
  h3 {
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
  }
  
  p {
    color: #717b7d;
    font-size: 12px;
    line-height: 18px;
  }
}

.news__link {
  font-size: 14px;
  line-height: 1;
  color: @green;
  text-decoration: underline;
  
  &:hover,
  &:active {
    text-decoration: none;
  }
}

.news__time {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: "Arial", sans-serif;
  color: #717b7d;
  font-style: italic;
  text-align: right;
  font-size: 12px;
  line-height: 18px;
  border-top: 1px solid rgb(223, 226, 227);
}

.news__item {
  &:nth-child(n+2) {
    display: none;
  }
}

.news__list {
  padding-top: 7px;
}

//------------------
@media (min-width: 640px) {
  .news {
    width: 100%;
    margin-bottom: 48px;
  }
  
  .news__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  
  .news__item {
    width: 214px;
    margin-right: 60px;
    
    &:nth-child(2) {
      display: block;
    }
    
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
