.slider {
  position: absolute;
  top: 28px;
  left: 10px;
  width: 300px;
  padding-bottom: 25px;
}

.slider__slide {
  position: relative;
  box-sizing: border-box;
  
  img {
    width: 100%;
    height: auto;
  }
}

.slider__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  padding: 10px;
  color: #fff;
  
  &--wide {
    width: 100%;
  }
  
  h2 {
    font-family: "Supermolot", "Arial", sans-serif;
    text-align: center;
    margin: 0;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
  
  p {
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }
}

.slider__subtitle {
  text-align: center;
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.slider__list {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.slider__item {
  width: 110px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  
  img {
    width: 11px;
    height: auto;
  }
  
  p {
    flex-grow: 1;
    margin: 0;
    margin-left: 5px;
    font-size: 7px;
    line-height: 1.2;
  }
}

.slider__link {
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
  line-height: 1;
}

.slider > .swiper-pagination-bullets .swiper-pagination-bullet {
  width: 11px;
  height: 4px;
  border-radius: 0;
  background-color: rgb(0, 0, 0);
  opacity: 1;
}

.slider > .swiper-pagination-bullets .swiper-pagination-bullet-active {
  background-color: @green;
}
