.video {
  iframe {
    width: 100%;
    height: 169px;
    border: none;
  }
}

//------------------
@media (min-width: 640px) {
  .video {
    iframe {
      height: 350px;
    }
  }
}

//------------------
@media (min-width: 990px) {
  .video {
    iframe {
      height: 393px;
    }
  }
}
